<header class="garamond bg-washed-yellow">
    <div class="mw8 center ph2-ns">
      <div class="cf ph2-ns">
        <div class="fl w-75 w-100-ns pa1">
          <div class="menu-root pv1">
            <a href="/" class="pa1 f3 link dim gray">Istvan's Website</a>
          </div>
          <div class="pa2">
            <a href="https://github.com/l1x" class="pa1 link dim gray">Github</a>
            <a href="https://twitter.com/lix" class="pa1 link dim gray">Twitter</a>
            <a href="https://www.linkedin.com/in/iszukacs/" class="pa1 link dim gray">Linkedin</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>