<header class="pa1 bg-dark-gray">
  <div class="mw9 mw8-ns center">
    <div class="pa2">
      <a href="/" class="header-logo link near-white">
        <div class="pr3 f4 lh-copy">l1x/www</div>
      </a>
    </div>
    <div class="pt2 tc">
      <a href="https://github.com/l1x" class="pa2 link dim near-white">Github</a>
      <a href="https://twitter.com/lix" class="pa2 link dim near-white">Twitter</a>
      <a href="https://www.linkedin.com/in/iszukacs/" class="pa2 link dim near-white">Linkedin</a>
    </div>
  </div>
</header>