{{ define "main"}}

{{ .Content }}

<section>
  <h1>
    <a href="/posts" class="title link">Posts</a>
  </h1>
  <div class="f3 lh-copy">
    The posts I have written:
  </div>
  <ul class="list pl0">
    {{- range first 10 (where .Site.RegularPages "Section" "posts") -}}
    <li class="pb2">
      <a href={{ .RelPermalink }} class=""> 
        {{ dateFormat "2006/01/02" .Date }} :: {{ .Title }} 
      </a>
      <div class="pt1">
        #{{ delimit .Params.tags " #" }}
      </div> 
    </li>
    {{end}}
  </ul>
</section>

{{ end }}

