{{ $tachyons := resources.Get "css/tachyons.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $tachyons.RelPermalink }}">

{{ $style := resources.Get "css/style.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

{{ block "title" . }}
    {{- if .Title -}}
        {{ if eq .Title .Site.Title }}
            <title>{{ .Site.Title }}</title>
        {{ else }}
            <title>{{ .Site.Title }} | {{ .Title | htmlEscape }} </title>
        {{ end }}
    {{ else }}
        <title>{{ .Site.Title }}</title>
    {{ end }}
{{ end }}
