<header class="bg-dark-gray pt3">
  <div class="mw9 mw8-ns center ph3-ns">
    <div class="pa1">
      <a href="/" class="header-logo link near-white">
        <div class="pr3 f2 lh-copy">l1x/dev</div>
      </a>
    </div>
    <div class="pa2 tc">
      <a href="https://github.com/l1x" class="pa2 link dim near-white">Github</a>
      <a href="https://twitter.com/lix" class="pa2 link dim near-white">Twitter</a>
      <a href="https://www.linkedin.com/in/iszukacs/" class="pa2 link dim near-white">Linkedin</a>
      <a href="https://dev.to/l1x" class="pa2 link dim near-white">Dev</a>
    </div>
  </div>
</header>