{{ define "main"}}

    <section class="pt2">

      <h2>
        <a href="/posts" class="title link">Posts</a>
      </h2>
            
      <ul class="list pl0">
        {{- range first 10 (where .Site.RegularPages "Section" "posts") -}}
        <li class="pb2">
          <a href={{ .RelPermalink }} class="link dim f3 lh-copy"> 
            {{ dateFormat "2006/01/02" .Date }} :: {{ .Title }} 
          </a>
          <div class="pt1">
            {{ range .Params.tags }}
              <a href="/tags/{{ . }}" class="link dim">#{{ . }}</a>
            {{ end}}
          </div> 
        </li>
        {{end}}
      </ul>

    </section>
    
    <section class="">

      <h2>
        <a href="/projects" class="title link">Projects</a>
      </h2>

      <ul class="list pl0">
        {{- range first 10 (where .Site.RegularPages "Section" "projects").ByDate -}}
        <li class="pb2"> 
          <a href={{ .RelPermalink }} class="link dim f3 lh-copy"> 
            {{ .Title }} :: {{ .Description }} 
          </a>
          <div class="pt1">
            {{ range .Params.tags }}
              <a href="/tags/{{ . }}" class="link dim">#{{ . }}</a>
            {{ end}}
          </div> 
        </li>
        {{end}}
      </ul>

    </section>


{{ end }}
