{{ define "main"}}

  {{ .Content }}

  <div class="posts-and-projects mw9 mw8-ns center ph3-ns bg-white">
    <section>
      <h1 class="underline dark-gray lh-copy">
        <a href="/posts" class="link dim dark-gray f2 lh-copy">Posts</a>
      </h1>
      <div class="f3 lh-copy">
        The posts I have written:
      </div>
      <ul class="list pl0">
        {{- range first 10 (where .Site.RegularPages "Section" "posts") -}}
        <li>
          <a href={{ .RelPermalink }} class="link dim dark-gray f3 lh-copy"> 
            {{ dateFormat "2006/01/02" .Date }} :: {{ .Title }} 
          </a> 
        </li>
        {{end}}
      </ul>
    </section>
    
    <section>
      <h1 class="underline dark-gray lh-copy">
        <a href="/projects" class="link dim dark-gray f2 lh-copy">Projects</a>
      </h1>

      <div class="f3 lh-copy">
        The projects I have been working on:
      </div>

      <ul class="list pl0">
        {{- range first 10 (where .Site.RegularPages "Section" "projects") -}}
        <li> <a href={{ .RelPermalink }} class="link dim dark-gray f3"> {{ .Title }} :: {{ .Description }} </a> </li>
        {{end}}
      </ul>
    </section>
  </div>

{{ end }}
