<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    {{ partial "header" . }}
    {{ partial "icons" . }}
    {{ partial "og" . }}
  </head>
  
<body>

  <div class="content mw8-l center">
    {{ partial "menu" . }}

    {{ block "main" . }} 
    
    {{ end }}
  </div>
</body>
{{ partial "footer" . }}
</html>